Repository XiaoMi/rdsn, pull requests merged in 2019-03, with the labels that each got.

#226 meta: support white list of replica-servers & add remote cmd to ctrl live_percentage
  include/dsn/dist/failure_detector/failure_detector.h
  src/dist/failure_detector/failure_detector.cpp
  src/dist/replication/meta_server/meta_options.cpp
  src/dist/replication/meta_server/meta_options.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
Labels: component/meta-server

#225 http: support tcmalloc heap profiler and growth profiler
  bin/dsn.cmake
  include/dsn/tool-api/http_server.h
  include/dsn/utility/string_splitter.h
  include/dsn/utility/timer.h
  src/core/tools/http/http_message_parser.cpp
  src/core/tools/http/http_server.cpp
  src/core/tools/http/pprof_http_service.cpp
  src/core/tools/http/pprof_http_service.h
  src/core/tools/http/root_http_service.h
Labels: type/enhancement

#230 config: add configuration duplication_disabled
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
Labels: component/replica-server

#231 utils: test format utilities
  include/dsn/dist/fmt_logging.h
  include/dsn/tool-api/gpid.h
  include/dsn/tool-api/task_code.h
  include/dsn/utility/error_code.h
  src/core/core/string_view.cpp
  src/core/tests/string_view_test.cpp
  src/dist/replication/common/CMakeLists.txt
  src/dist/replication/common/test/CMakeLists.txt
  src/dist/replication/common/test/config-test.ini
  src/dist/replication/common/test/fmt_logging_test.cpp
  src/dist/replication/common/test/main.cpp
  src/dist/replication/common/test/run.sh
Labels: component/utility

#232 replication: update thrift definitions for duplication
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/replication.thrift
Labels: component/duplication

#233 replica: add unit tests for mutation log replay
  src/dist/replication/lib/mutation_log.cpp
  src/dist/replication/lib/mutation_log.h
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/mutation_log_learn_test.cpp
  src/dist/replication/test/replica_test/unit_test/mutation_log_test.cpp
  src/dist/replication/test/replica_test/unit_test/replica_test_base.h
  src/tests/dsn/mutation_cache.cpp
Labels: component/replica-server

#235 ddl_client: add duplication related commands
  include/dsn/dist/replication/duplication_common.h
  include/dsn/dist/replication/replication_ddl_client.h
  src/dist/replication/common/duplication_common.cpp
  src/dist/replication/common/test/duplication_common_test.cpp
  src/dist/replication/ddl_lib/replication_ddl_client.cpp
Labels: component/duplication
