Repository XiaoMi/rdsn, pull requests merged in 2019-08, with the labels that each got.

#287 thirdparty: add curl to help build prometheus
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
Labels: area/installation, component/scripts

#289 utils: add test utils on meta server
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/server_state.h
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
  src/dist/replication/test/meta_test/unit_test/meta_test_base.h
Labels: component/meta-server

#280 HTTP service for meta & replica server
  include/dsn/cpp/service_app.h
  include/dsn/dist/replication/meta_service_app.h
  include/dsn/dist/replication/replication_service_app.h
  include/dsn/tool-api/http_server.h
  src/dist/http/http_server.cpp
  src/dist/http/server_info_http_services.cpp
  src/dist/http/server_info_http_services.h
  src/dist/replication/lib/replication_service_app.cpp
  src/dist/replication/meta_server/meta_http_service.cpp
  src/dist/replication/meta_server/meta_http_service.h
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/meta_service_app.cpp
  src/dist/replication/test/meta_test/unit_test/meta_http_service_test.cpp
Labels: area/maintenance, component/http

#286 split: meta start partition split
  include/dsn/cpp/json_helper.h
  include/dsn/cpp/serialization_helper/dsn.layer2_types.h
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_types.h
  src/core/core/dsn.layer2_types.cpp
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/meta_split_service.cpp
  src/dist/replication/meta_server/meta_split_service.h
  src/dist/replication/meta_server/server_state.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/meta_split_service_test.cpp
  src/dist/replication/test/meta_test/unit_test/meta_test_base.h
  src/dist/replication/test/meta_test/unit_test/run.sh
  src/dsn.layer2.thrift
Labels: component/split

#285 CMake: remove MY_PROJ_LIB_PATH
  bin/dsn.cmake
  src/core/core/CMakeLists.txt
  src/core/perf_counter/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/core/tools/common/CMakeLists.txt
  src/core/tools/hpc/CMakeLists.txt
  src/core/tools/simulator/CMakeLists.txt
  src/dist/block_service/fds/CMakeLists.txt
  src/dist/block_service/local/CMakeLists.txt
  src/dist/cli/CMakeLists.txt
  src/dist/cli/shell/CMakeLists.txt
  src/dist/failure_detector/CMakeLists.txt
  src/dist/failure_detector_multimaster/CMakeLists.txt
  src/dist/nfs/CMakeLists.txt
  src/dist/nfs/test/CMakeLists.txt
  src/dist/replication/client/CMakeLists.txt
  src/dist/replication/common/CMakeLists.txt
  src/dist/replication/ddl_lib/CMakeLists.txt
  src/dist/replication/global_checker/CMakeLists.txt
  src/dist/replication/lib/CMakeLists.txt
  src/dist/replication/meta_server/CMakeLists.txt
  src/dist/replication/storage_engine/simple_kv/CMakeLists.txt
  src/dist/replication/test/meta_test/balancer_simulator/CMakeLists.txt
  src/dist/replication/test/meta_test/unit_test/CMakeLists.txt
  src/dist/replication/test/simple_kv/CMakeLists.txt
  src/dist/replication/tool_lib/CMakeLists.txt
  src/dist/replication/zookeeper/CMakeLists.txt
  src/tests/dsn/CMakeLists.txt
Labels: component/scripts, type/refactoring

#249 dup: add duplication recovery on meta server
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/test/meta_test/unit_test/config-test.ini
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
Labels: component/duplication, component/meta-server

#292 dup: complete implementation of replica_duplicator_manager
  include/dsn/utility/errors.h
  src/dist/replication/lib/CMakeLists.txt
  src/dist/replication/lib/duplication/replica_duplicator.cpp
  src/dist/replication/lib/duplication/replica_duplicator.h
  src/dist/replication/lib/duplication/replica_duplicator_manager.cpp
  src/dist/replication/lib/duplication/replica_duplicator_manager.h
  src/dist/replication/lib/duplication/test/CMakeLists.txt
  src/dist/replication/lib/duplication/test/config-test.ini
  src/dist/replication/lib/duplication/test/duplication_sync_timer_test.cpp
  src/dist/replication/lib/duplication/test/duplication_test_base.h
  src/dist/replication/lib/duplication/test/main.cpp
  src/dist/replication/lib/duplication/test/replica_duplicator_manager_test.cpp
  src/dist/replication/lib/duplication/test/run.sh
  src/dist/replication/lib/replica.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_test_base.h
Labels: component/duplication, component/replica-server

#293 utility: enhance fail point functionality
  include/dsn/utility/fail_point.h
  src/core/core/fail_point.cpp
  src/core/core/fail_point_impl.h
  src/core/tests/CMakeLists.txt
  src/core/tests/fail_point_test.cpp
  thirdparty/build-thirdparty.sh
Labels: component/utility

#294 utils: add unlikely for dverify/dreturn/dstop macros
  include/dsn/c/api_utilities.h
Labels: component/utility

#295 build: fix dsn.cmake to add thirdparty/output/lib64 into link directories
  bin/dsn.cmake
  thirdparty/build-thirdparty.sh
Labels: area/installation

#296 http: improvement on http api
  .travis.yml
  include/dsn/tool-api/http_server.h
  include/dsn/utility/output_utils.h
  src/core/core/output_utils.cpp
  src/core/tests/output_utils_test.cpp
  src/dist/http/CMakeLists.txt
  src/dist/http/http_server.cpp
  src/dist/http/server_info_http_services.cpp
  src/dist/http/server_info_http_services.h
  src/dist/http/test/CMakeLists.txt
  src/dist/http/test/http_server_test.cpp
  src/dist/replication/meta_server/meta_http_service.cpp
  src/dist/replication/meta_server/meta_http_service.h
  src/dist/replication/test/meta_test/unit_test/meta_http_service_test.cpp
  thirdparty/build-thirdparty.sh
Labels: component/http

#291 split: parent replica create child replica
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/lib/CMakeLists.txt
  src/dist/replication/lib/duplication/test/CMakeLists.txt
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_init.cpp
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/replication.thrift
  src/dist/replication/storage_engine/simple_kv/CMakeLists.txt
  src/dist/replication/test/replica_test/unit_test/CMakeLists.txt
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
  src/dist/replication/test/simple_kv/CMakeLists.txt
  src/tests/dsn/CMakeLists.txt
Labels: component/split

#297 feat(dup): implement duplication_sync on meta server side
  src/dist/replication/meta_server/CMakeLists.txt
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service_app.cpp
  src/dist/replication/meta_server/server_state.h
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
Labels: component/duplication

#300 fix(network): use derror rather than dwarn for failed network bootstrap
  .travis.yml
  scripts/linux/start_zk.sh
  src/core/tools/common/asio_net_provider.cpp
Labels: type/bug-fix
