Repository XiaoMi/rdsn, pull requests merged in 2019-04, with the labels that each got.

#236 perf-counter: support P999 for percentile type
  include/dsn/perf_counter/perf_counter.h
  include/dsn/perf_counter/perf_counters.h
  src/core/perf_counter/perf_counters.cpp
  src/core/tests/perf_counter_test.cpp
  src/core/tests/perf_counters_test.cpp
Labels: component/perf-counter

#237 meta: add duplication_info and refactor test utils
  src/dist/replication/meta_server/CMakeLists.txt
  src/dist/replication/meta_server/duplication/duplication_info.cpp
  src/dist/replication/meta_server/duplication/duplication_info.h
  src/dist/replication/test/meta_test/misc/misc.h
  src/dist/replication/test/meta_test/unit_test/CMakeLists.txt
  src/dist/replication/test/meta_test/unit_test/config-test.ini
  src/dist/replication/test/meta_test/unit_test/data_definition_test.cpp
  src/dist/replication/test/meta_test/unit_test/duplication_info_test.cpp
  src/dist/replication/test/meta_test/unit_test/meta_service_test_app.h
Labels: component/duplication, component/meta-server

#242 duplication: add meta_duplication_service (part 0)
  src/dist/replication/meta_server/duplication/meta_duplication_service.h
  src/dist/replication/meta_server/meta_data.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/server_state.h
Labels: component/duplication, component/meta-server

#243 fix too many ERR_BUSY logs problem when write throttling enabled
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
Labels: type/bug-fix

#244 duplication: add meta_duplication_service (part 1)
  include/dsn/cpp/serialization_helper/dsn.layer2_types.h
  src/core/core/dsn.layer2_types.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.h
  src/dsn.layer2.thrift
Labels: component/duplication, component/meta-server

#246 duplication: add meta_duplication_service (part 3)
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/duplication_common.cpp
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/ddl_lib/replication_ddl_client.cpp
  src/dist/replication/meta_server/duplication/duplication_info.cpp
  src/dist/replication/meta_server/duplication/duplication_info.h
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/duplication_info_test.cpp
Labels: component/duplication, component/meta-server

#247 maintenance: record p99 rpc byte size
  include/dsn/toollet/profiler.h
  src/core/tools/common/profiler.cpp
  src/core/tools/common/profiler_command.cpp
  src/core/tools/common/profiler_header.h
  src/core/tools/common/profiler_output.cpp
Labels: type/maintenance
