Repository XiaoMi/rdsn, pull requests merged in 2019-12, with the labels that each got.

#320 feat(dup): protect private log from missing when duplication is enabled
  src/dist/replication/lib/duplication/replica_duplicator_manager.cpp
  src/dist/replication/lib/duplication/replica_duplicator_manager.h
  src/dist/replication/lib/duplication/test/replica_duplicator_manager_test.cpp
  src/dist/replication/lib/duplication/test/replica_duplicator_test.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_check.cpp
  src/dist/replication/lib/replica_chkpt.cpp
  src/dist/replication/lib/replica_duplicate.cpp
Labels: component/duplication

#349 feat: add http interface to get perf counter info
  include/dsn/perf_counter/perf_counters.h
  src/core/perf_counter/perf_counters.cpp
  src/core/tests/perf_counters_test.cpp
  src/dist/http/http_server.cpp
  src/dist/http/perf_counter_http_service.cpp
  src/dist/http/perf_counter_http_service.h
  src/dist/http/test/perf_counter_http_service_test.cpp
Labels: component/http

#356 feat(dup): implement is_duplicating
  src/dist/replication/lib/duplication/replica_duplicator_manager.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_duplicate.cpp
Labels: component/duplication

#342 feat(http): add HTTP interfaces to query backup info
  src/core/tests/hostname_test.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/meta_server/meta_backup_service.cpp
  src/dist/replication/meta_server/meta_backup_service.h
  src/dist/replication/meta_server/meta_http_service.cpp
  src/dist/replication/meta_server/meta_http_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/test/meta_test/unit_test/backup_test.cpp
  src/dist/replication/test/meta_test/unit_test/config-test.ini
  src/dist/replication/test/meta_test/unit_test/meta_http_service_test.cpp
  src/dist/replication/test/meta_test/unit_test/meta_service_test_app.h
Labels: component/http

#357 fix(http): add uri decoder for http_server
  src/dist/http/http_server.cpp
  src/dist/http/test/uri_decoder_test.cpp
  src/dist/http/uri_decoder.cpp
  src/dist/http/uri_decoder.h
Labels: component/http

#363 fix(asan): global-buffer-overflow in string_conv_test
  src/core/tests/string_conv_test.cpp
Labels: type/sanitize

#361 fix(asan): pointer used after free in autoref_ptr_test
  include/dsn/utility/autoref_ptr.h
Labels: type/sanitize

#367 feat(http): print help info on root path of the http server
  include/dsn/tool-api/http_server.h
  src/dist/http/http_server.cpp
  src/dist/http/perf_counter_http_service.h
  src/dist/http/pprof_http_service.h
  src/dist/http/root_http_service.h
  src/dist/http/server_info_http_services.h
  src/dist/http/test/http_server_test.cpp
  src/dist/replication/meta_server/meta_http_service.h
Labels: component/http

#355 feat(dup): preserve data consistency during replica learn
  src/dist/replication/lib/mutation_log.h
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_learn.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/mutation_log_test.cpp
  src/dist/replication/test/replica_test/unit_test/replica_learn_test.cpp
  src/dist/replication/test/replica_test/unit_test/replica_test_base.h
Labels: component/duplication

#370 feat(dup): implement load_mutation
  src/dist/replication/lib/duplication/duplication_pipeline.cpp
  src/dist/replication/lib/duplication/duplication_pipeline.h
  src/dist/replication/lib/replica.cpp
  src/dist/replication/lib/replica_stub.cpp
Labels: component/duplication
