Repository XiaoMi/rdsn, pull requests merged in 2019-09, with the labels that each got.

#304 feat(dup): add interface mutation_duplicator & duplication procedure
  include/dsn/dist/replication/mutation_duplicator.h
  src/core/tests/task_test.cpp
  src/dist/replication/lib/CMakeLists.txt
  src/dist/replication/lib/duplication/duplication_pipeline.cpp
  src/dist/replication/lib/duplication/duplication_pipeline.h
  src/dist/replication/lib/duplication/load_from_private_log.cpp
  src/dist/replication/lib/duplication/load_from_private_log.h
  src/dist/replication/lib/duplication/replica_duplicator.cpp
  src/dist/replication/lib/duplication/replica_duplicator.h
Labels: component/duplication

#299 feat(split): parent replica prepare states
  include/dsn/tool-api/rpc_message.h
  src/core/core/rpc_message.cpp
  src/dist/replication/lib/mutation.cpp
  src/dist/replication/lib/mutation.h
  src/dist/replication/lib/mutation_cache.cpp
  src/dist/replication/lib/mutation_cache.h
  src/dist/replication/lib/mutation_log.cpp
  src/dist/replication/lib/mutation_log.h
  src/dist/replication/lib/prepare_list.cpp
  src/dist/replication/lib/prepare_list.h
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
Labels: component/split

#302 refactor: introduce mutation_log::replay_block
  src/dist/replication/lib/mutation_log.cpp
  src/dist/replication/lib/mutation_log.h
  src/dist/replication/lib/mutation_log_replay.cpp
  src/dist/replication/lib/mutation_log_utils.cpp
  src/dist/replication/lib/mutation_log_utils.h
  src/dist/replication/lib/replica.cpp
Labels: component/duplication

#311 refactor: rename disk_aio to aio_context
  include/dsn/tool-api/aio_provider.h
  include/dsn/tool-api/task.h
  src/core/core/disk_engine.cpp
  src/core/core/disk_engine.h
  src/core/core/file_io.cpp
  src/core/core/task.cpp
  src/core/tests/task_test.cpp
  src/core/tools/common/fault_injector.cpp
  src/core/tools/common/native_aio_provider.linux.cpp
  src/core/tools/common/native_aio_provider.linux.h
  src/core/tools/common/tracer.cpp
  src/dist/replication/lib/mutation_log.cpp
  src/dist/replication/test/simple_kv/case.cpp
Labels: type/refactoring

#312 feat(dup): implement ship_mutation stage and mutation_batch
  src/dist/replication/lib/CMakeLists.txt
  src/dist/replication/lib/duplication/duplication_pipeline.cpp
  src/dist/replication/lib/duplication/duplication_pipeline.h
  src/dist/replication/lib/duplication/mutation_batch.cpp
  src/dist/replication/lib/duplication/mutation_batch.h
  src/dist/replication/lib/duplication/replica_duplicator.h
  src/dist/replication/lib/duplication/test/duplication_test_base.h
  src/dist/replication/lib/duplication/test/mutation_batch_test.cpp
  src/dist/replication/lib/duplication/test/ship_mutation_test.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
Labels: component/duplication

#315 feat(dup): verify private log validity before starting to duplicate
  src/dist/replication/lib/duplication/replica_duplicator.cpp
  src/dist/replication/lib/duplication/replica_duplicator.h
  src/dist/replication/lib/mutation_log.cpp
  src/dist/replication/lib/mutation_log.h
Labels: component/duplication

#309 feat(split): child replica learn parent prepare list and checkpoint
  include/dsn/dist/replication/replication.codes.h
  src/dist/replication/lib/prepare_list.h
  src/dist/replication/lib/replica.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
Labels: component/split

#314 feat: support table-level slow query on meta server
  include/dsn/dist/replication/duplication_common.h
  include/dsn/dist/replication/replication_ddl_client.h
  src/dist/replication/ddl_lib/replication_ddl_client.cpp
  src/dist/replication/meta_server/server_state.cpp
  src/dist/replication/test/meta_test/unit_test/meta_app_envs_test.cpp
Labels: area/maintenance

#317 feat(dup): implement procedure load_from_private_log
  src/dist/replication/lib/duplication/load_from_private_log.cpp
  src/dist/replication/lib/duplication/load_from_private_log.h
  src/dist/replication/lib/duplication/test/CMakeLists.txt
  src/dist/replication/lib/duplication/test/duplication_test_base.h
  src/dist/replication/lib/duplication/test/load_from_private_log_test.cpp
  src/dist/replication/lib/duplication/test/log.1.0.all_loaded_are_write_empties
  src/dist/replication/lib/duplication/test/log.1.0.handle_real_private_log
  src/dist/replication/lib/duplication/test/log.1.0.handle_real_private_log2
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
Labels: component/duplication
