Repository XiaoMi/rdsn, pull requests merged in 2020-02, with the labels that each got.

#255 refactor(rpc): refactor request meta & add support for backup request
  include/dsn/cpp/serialization_helper/dsn.layer2_types.h
  include/dsn/tool-api/rpc_message.h
  src/core/core/dsn.layer2_types.cpp
  src/core/tests/thrift_message_parser_test.cpp
  src/core/tools/common/thrift_message_parser.cpp
  src/core/tools/common/thrift_message_parser.h
  src/dist/replication/lib/replica.cpp
  src/dsn.layer2.thrift
Labels: component/rpc

#319 feat(split): child replica apply private logs, in-memory mutations and catch up parent
  include/dsn/dist/replication/replication_app_base.h
  src/dist/replication/lib/mutation_log.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_chkpt.cpp
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/lib/replication_app_base.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
Labels: component/split

#393 feat(dup): add metrics for duplication
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/lib/duplication/duplication_pipeline.cpp
  src/dist/replication/lib/duplication/duplication_sync_timer.cpp
  src/dist/replication/lib/duplication/load_from_private_log.cpp
  src/dist/replication/lib/duplication/replica_duplicator.cpp
  src/dist/replication/lib/duplication/replica_duplicator.h
  src/dist/replication/lib/duplication/replica_duplicator_manager.cpp
  src/dist/replication/lib/duplication/replica_duplicator_manager.h
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/test/meta_test/unit_test/config-test.ini
  src/dist/replication/test/simple_kv/case-601.act
Labels: component/duplication

#394 feat(split): add partition_version
  include/dsn/dist/replication/replication_app_base.h
  src/dist/replication/lib/replica.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_init.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
Labels: component/split

#407 feat(dup): respond with hint when add_dup failed
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/replication.thrift
Labels: component/duplication
