Repository XiaoMi/rdsn, pull requests merged in 2020-08, with the labels that each got.

#579 fix(bulk-load): fix bug while check_all_partitions
  src/meta/server_state.cpp
Labels: component/bulk-load

#580 fix: remote-command max_copy_rate_megabytes failed when set "DEFAULT"
  src/nfs/nfs_client_impl.cpp
Labels: type/bug-fix

#583 fix(bulk_load): fix bug of clear_bulk_load_states_if_needed
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/replica_bulk_loader.h
  src/replica/replica_config.cpp
Labels: component/bulk-load

#510 feat(utils): add latency trace tool
  src/utils/latency_tracer.cpp
  src/utils/latency_tracer.h
  src/utils/test/latency_tracer_test.cpp
Labels: type/config-change

#584 refactor: make read batch size of fds configurable
  src/block_service/fds/fds_service.cpp
Labels: type/config-change

#581 fix(bulk-load): fix bug about concurrent downloading count
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/replica_bulk_loader.h
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
Labels: component/bulk-load

#587 fix(bulk-load): fix bug during ingestion
  src/meta/meta_bulk_load_service.cpp
  src/meta/test/meta_bulk_load_service_test.cpp
  src/replica/replica_2pc.cpp
Labels: component/bulk-load

#572 fix(bulk-load): fix bug while rolling back to downloading
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
Labels: component/bulk-load

#511 feat: add point for write using latency_tracer tool
  include/dsn/utils/latency_tracer.h
  src/replica/mutation.cpp
  src/replica/mutation.h
  src/replica/mutation_log.cpp
  src/replica/prepare_list.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replication_app_base.cpp
  src/utils/latency_tracer.cpp
  src/utils/test/latency_tracer_test.cpp
Labels: type/config-change

#594 refactor(http): replace service/method with simple HTTP path
  include/dsn/http/http_server.h
  src/http/http_call_registry.h
  src/http/http_server.cpp
  src/http/root_http_service.h
  src/http/test/http_server_test.cpp
  src/meta/meta_http_service.cpp
  src/meta/test/meta_http_service_test.cpp
  src/replica/storage/simple_kv/simple_kv.main.cpp
  src/replica/storage/simple_kv/test/simple_kv.main.cpp
Labels: component/http
