Repository XiaoMi/rdsn, pull requests merged in 2020-09, with the labels that each got.

#609 feat(security): add unit test for negotiation_service
  src/runtime/rpc/network.sim.h
  src/runtime/security/negotiation_service.h
  src/runtime/test/negotiation_service_test.cpp
Labels: component/security

#607 feat(security): add unit tests for server_negotiation
  src/runtime/security/server_negotiation.cpp
  src/runtime/security/server_negotiation.h
  src/runtime/test/server_negotiation_test.cpp
Labels: component/security

#611 feat(dup): clear data on meta when duplication removed
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/meta_duplication_service_test.cpp
Labels: component/duplication

#610 refactor: hide http_server from http api
  include/dsn/dist/replication/meta_service_app.h
  include/dsn/dist/replication/replication_service_app.h
  include/dsn/http/http_server.h
  src/http/http_server.cpp
  src/http/http_server_impl.h
  src/http/test/http_server_test.cpp
  src/meta/meta_service_app.cpp
  src/replica/replication_service_app.cpp
Labels: component/http

#612 feat(security): client_negotiation handle mechanism selected response
  include/dsn/utility/error_code.h
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/client_negotiation.h
  src/runtime/security/negotiation.cpp
  src/runtime/security/negotiation.h
  src/runtime/security/sasl_client_wrapper.cpp
  src/runtime/security/sasl_wrapper.cpp
  src/runtime/security/server_negotiation.cpp
  src/runtime/test/client_negotiation_test.cpp
Labels: component/security

#616 fix(security): fix bug in building cyrus-sasl
  thirdparty/CMakeLists.txt
Labels: component/security

#617 feat(security): client_negotiation handle challenge
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/client_negotiation.h
  src/runtime/security/sasl_client_wrapper.cpp
  src/runtime/test/client_negotiation_test.cpp
Labels: component/security

#618 feat(security): server_negotiation handle challenge response
  src/runtime/security/sasl_server_wrapper.cpp
  src/runtime/security/server_negotiation.cpp
  src/runtime/security/server_negotiation.h
  src/runtime/test/server_negotiation_test.cpp
Labels: component/security

#615 refactor(http): add http handler without creating http service
  include/dsn/dist/replication/meta_service_app.h
  include/dsn/dist/replication/replication_service_app.h
  include/dsn/http/http_server.h
  src/http/builtin_http_calls.cpp
  src/http/builtin_http_calls.h
  src/http/http_server.cpp
  src/http/perf_counter_http_service.cpp
  src/http/perf_counter_http_service.h
  src/http/pprof_http_service.cpp
  src/http/root_http_service.h
  src/http/server_info_http_services.cpp
  src/http/server_info_http_services.h
  src/http/test/http_server_test.cpp
  src/http/test/perf_counter_http_service_test.cpp
  src/meta/meta_service_app.cpp
  src/replica/replication_service_app.cpp
Labels: component/http

#620 refactor(security): refactor the send func of client_negotiation
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/client_negotiation.h
Labels: component/security

#622 refactor(security): use blob instead of std::string as the type for msg member of negotiationi_request
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/client_negotiation.h
  src/runtime/security/sasl_client_wrapper.cpp
  src/runtime/security/sasl_client_wrapper.h
  src/runtime/security/sasl_server_wrapper.cpp
  src/runtime/security/sasl_server_wrapper.h
  src/runtime/security/sasl_wrapper.h
  src/runtime/security/security.thrift
  src/runtime/security/security_types.cpp
  src/runtime/security/security_types.h
  src/runtime/security/server_negotiation.cpp
  src/runtime/security/server_negotiation.h
  src/runtime/test/client_negotiation_test.cpp
  src/runtime/test/server_negotiation_test.cpp
Labels: component/security

#624 refactor(split): move replica split functions into replica_split_manager class
  scripts/linux/build.sh
  src/replica/CMakeLists.txt
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_chkpt.cpp
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/CMakeLists.txt
  src/replica/split/test/config-test.ini
  src/replica/split/test/main.cpp
  src/replica/split/test/replica_split_test.cpp
  src/replica/split/test/run.sh
  src/replica/test/mock_utils.h
Labels: component/split
