Repository XiaoMi/rdsn, pull requests merged in 2020-03, with the labels that each got.

#401 feat(dup): support HTTP API to inspect duplication state
  include/dsn/dist/replication/duplication_common.h
  include/dsn/dist/replication/replication_types.h
  src/dist/http/http_server.cpp
  src/dist/http/test/http_server_test.cpp
  src/dist/replication/common/duplication_common.cpp
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/meta_server/duplication/duplication_info.cpp
  src/dist/replication/meta_server/duplication/duplication_info.h
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/meta_server/meta_http_service.cpp
  src/dist/replication/meta_server/meta_http_service.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
Labels: component/duplication, component/http

#390 feat(split): child notify parent catch up
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
Labels: component/split

#414 feat: forbid large-size-value writes to Pegasus
  src/dist/replication/lib/replica_2pc.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/test/replica_test/unit_test/replica_test.cpp
Labels: type/configuration, type/perf-counter

#415 feat(dup): support replica http api for duplication state query
  src/dist/replication/lib/duplication/duplication_sync_timer.cpp
  src/dist/replication/lib/duplication/duplication_sync_timer.h
  src/dist/replication/lib/duplication/replica_duplicator_manager.cpp
  src/dist/replication/lib/duplication/replica_duplicator_manager.h
  src/dist/replication/lib/duplication/test/duplication_test_base.h
  src/dist/replication/lib/duplication/test/replica_http_service_test.cpp
  src/dist/replication/lib/replica_http_service.cpp
  src/dist/replication/lib/replica_http_service.h
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/lib/replication_service_app.cpp
Labels: component/duplication, component/http

#399 feat(split): re-implement function split_replica_exec
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
Labels: component/split

#411 feat(dup): handle non-idempotent writes during duplication
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/lib/duplication/mutation_batch.cpp
  src/dist/replication/lib/duplication/test/duplication_test_base.h
  src/dist/replication/lib/duplication/test/load_from_private_log_test.cpp
  src/dist/replication/lib/duplication/test/mutation_batch_test.cpp
  src/dist/replication/lib/replica.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_2pc.cpp
  src/dist/replication/lib/replica_config.cpp
  src/dist/replication/test/replica_test/unit_test/replica_test_base.h
Labels: component/duplication, type/configuration, type/perf-counter

#423 feat(dup): rename change_dup_status to modify_dup
  include/dsn/dist/replication/duplication_common.h
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_ddl_client.h
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/ddl_lib/replication_ddl_client.cpp
  src/dist/replication/meta_server/duplication/duplication_info.cpp
  src/dist/replication/meta_server/duplication/duplication_info.h
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/meta_server/duplication/meta_duplication_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
Labels: component/duplication

#424 feat(dup): add dsn_replica_dup_test to CI testing and fix http outputs
  scripts/linux/build.sh
  src/dist/replication/common/duplication_common.cpp
  src/dist/replication/lib/duplication/test/replica_http_service_test.cpp
  src/dist/replication/lib/replica_http_service.cpp
  src/dist/replication/meta_server/duplication/duplication_info.cpp
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
Labels: component/duplication, component/http

#425 fix(dup): multiple fixes on replica duplication
  src/dist/replication/lib/duplication/duplication_pipeline.cpp
  src/dist/replication/lib/duplication/duplication_pipeline.h
  src/dist/replication/lib/duplication/load_from_private_log.cpp
  src/dist/replication/lib/duplication/load_from_private_log.h
  src/dist/replication/lib/duplication/replica_duplicator.cpp
  src/dist/replication/lib/duplication/replica_duplicator.h
  src/dist/replication/lib/duplication/test/ship_mutation_test.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
Labels: component/duplication, type/perf-counter

#429 feat(dup): support multiple fail modes for duplication
  include/dsn/dist/replication/duplication_common.h
  include/dsn/dist/replication/replication_ddl_client.h
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/duplication_common.cpp
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/ddl_lib/replication_ddl_client.cpp
  src/dist/replication/lib/duplication/duplication_sync_timer.cpp
  src/dist/replication/lib/duplication/duplication_sync_timer.h
  src/dist/replication/lib/duplication/load_from_private_log.cpp
  src/dist/replication/lib/duplication/load_from_private_log.h
  src/dist/replication/lib/duplication/replica_duplicator.h
  src/dist/replication/lib/duplication/replica_duplicator_manager.cpp
  src/dist/replication/lib/duplication/replica_duplicator_manager.h
  src/dist/replication/lib/duplication/test/load_from_private_log_test.cpp
  src/dist/replication/lib/duplication/test/replica_http_service_test.cpp
  src/dist/replication/lib/replica_http_service.cpp
  src/dist/replication/meta_server/duplication/duplication_info.cpp
  src/dist/replication/meta_server/duplication/duplication_info.h
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
Labels: component/duplication
