Repository XiaoMi/rdsn, pull requests merged in 2020-11, with the labels that each got.

#648 fix: fix split register child unit test
  src/replica/split/test/replica_split_test.cpp
Labels: type/bug-fix

#654 feat(split): parent group update partition count
  src/replica/replica_check.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/replica_split_test.cpp
Labels: component/split

#656 test: fake format error
  .github/workflows/pull_request.yaml
  run.sh
  scripts/linux/run-clang-format.py
  scripts/linux/run-clang-format.sh
  scripts/linux/start_zk.sh
Labels: ready-for-testing, thirdparty-modified

#652 fix(security): fix bug in negotiation_service::on_negotiation_request when rpc_session is closed
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/client_negotiation.h
  src/runtime/security/init.cpp
  src/runtime/security/negotiation.h
  src/runtime/security/negotiation_manager.cpp
  src/runtime/security/negotiation_manager.h
  src/runtime/security/server_negotiation.cpp
  src/runtime/security/server_negotiation.h
  src/runtime/service_api_c.cpp
  src/runtime/test/negotiation_manager_test.cpp
Labels: type/bug-fix

#651 refactor: update detail disk info
  include/dsn/dist/replication/replication_types.h
  src/common/replication_types.cpp
  src/replica/replica_stub.cpp
  src/replica/test/replica_disk_test.cpp
  src/replication.thrift
Labels: type/incompatible

#662 fix(http): fix message buffers size check
  src/http/http_message_parser.cpp
  src/http/http_message_parser.h
  src/http/http_server.cpp
  src/http/test/http_server_test.cpp
Labels: type/bug-fix

#663 fix(http): fix parse path from message
  src/http/http_server.cpp
  src/http/test/http_server_test.cpp
Labels: type/bug-fix

#666 fix: local_service compile error loading file metadata
  src/block_service/local/local_service.cpp
  src/block_service/test/local_service_test.cpp
  thirdparty/CMakeLists.txt
Labels: thirdparty-modified

#647 feat(backup): add hdfs as an alternative backup provider
  bin/dsn.cmake
  src/block_service/CMakeLists.txt
  src/block_service/block_service_manager.cpp
  src/block_service/hdfs/CMakeLists.txt
  src/block_service/hdfs/hdfs_service.cpp
  src/block_service/hdfs/hdfs_service.h
  src/block_service/test/CMakeLists.txt
  src/block_service/test/config-test.ini
  src/block_service/test/hdfs_service_test.cpp
  src/meta/CMakeLists.txt
  src/meta/test/CMakeLists.txt
  src/replica/replica_restore.cpp
  thirdparty/CMakeLists.txt
Labels: thirdparty-modified, type/config-change

#671 thirdparty: update fmtlib
  thirdparty/CMakeLists.txt
Labels: thirdparty-modified

#653 feat(split): add splitting_replicas while on_config_sync
  include/dsn/dist/replication/replication_types.h
  src/common/replication_types.cpp
  src/meta/server_state.cpp
  src/meta/test/meta_split_service_test.cpp
  src/replica/replica.h
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/replica_split_test.cpp
  src/replication.thrift
Labels: component/split

#673 fix: downgrade hadoop version to 2.8.4
  thirdparty/CMakeLists.txt
Labels: thirdparty-modified

#672 feat(security): implement reset interface for replica access controller
  include/dsn/dist/replication/replica_envs.h
  src/common/replication_common.cpp
  src/meta/app_env_validator.cpp
  src/replica/replica.h
  src/replica/replica_config.cpp
  src/runtime/security/access_controller.h
  src/runtime/security/replica_access_controller.cpp
  src/runtime/security/replica_access_controller.h
Labels: component/security

#675 feat(split): secondary start split
  include/dsn/dist/replication/replication_types.h
  src/common/replication_types.cpp
  src/replica/replica_check.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/replica_split_test.cpp
  src/replication.thrift
Labels: component/split
