Repository XiaoMi/rdsn, pull requests merged in 2020-12, with the labels that each got.

#676 feat(split): child copy mutation asynchronously
  src/replica/replica_2pc.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
Labels: component/split

#683 feat(security): enable access replica when appenv `replica_access_controller.allowed_users` is empty
  src/runtime/security/replica_access_controller.cpp
  src/runtime/test/replica_access_controller_test.cpp
  src/utils/test/utils.cpp
Labels: component/security

#687 feat(bulk-load): add query bulk load http interface
  src/meta/meta_bulk_load_service.h
  src/meta/meta_http_service.cpp
  src/meta/meta_http_service.h
  src/meta/test/meta_http_service_test.cpp
Labels: component/bulk-load, component/http

#685 fix: compile error of zookeeper 3.4.10 on gcc9
  thirdparty/CMakeLists.txt
Labels: thirdparty-modified

#686 feat(bulk-load): support user-define remote storage root path
  include/dsn/dist/replication/replication_ddl_client.h
  include/dsn/dist/replication/replication_types.h
  src/client/replication_ddl_client.cpp
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/common/replication_types.cpp
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
  src/meta/test/meta_bulk_load_service_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/replica_bulk_loader.h
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replication.thrift
Labels: component/bulk-load, type/config-change

#693 feat(bulk_load): add start bulk load http interface
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_http_service.cpp
  src/meta/meta_http_service.h
  src/meta/test/meta_http_service_test.cpp
Labels: component/bulk-load, component/http

#706 feat: add query app data_version
  include/dsn/dist/replication/replication_app_base.h
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_http_service.cpp
  src/replica/replica_http_service.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/storage/simple_kv/simple_kv.server.impl.h
  src/replica/storage/simple_kv/test/simple_kv.server.impl.h
  src/replica/test/mock_utils.h
  src/replica/test/replica_test.cpp
Labels: component/http

#695 feat(bulk_load): add update compaction envs http interface
  src/meta/meta_http_service.cpp
  src/meta/meta_http_service.h
  src/meta/test/meta_http_service_test.cpp
Labels: component/bulk-load, component/http

#708 fix(security): remove mandatory_auth on client side
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/negotiation_manager.cpp
  src/runtime/test/client_negotiation_test.cpp
  src/runtime/test/negotiation_manager_test.cpp
Labels: component/security

#707 feat: add update rocksdb scenario interface
  src/meta/meta_http_service.cpp
  src/meta/meta_http_service.h
  src/meta/test/meta_http_service_test.cpp
Labels: component/bulk-load, component/http

#703 fix: block service download file return error when file exists
  src/block_service/block_service_manager.cpp
  src/block_service/block_service_manager.h
  src/block_service/test/block_service_manager_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/replica_restore.cpp
Labels: type/bug-fix

#696 feat(bulk_load): add query compaction status http interface
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_http_service.cpp
  src/replica/replica_http_service.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/replica_test.cpp
Labels: component/bulk-load, component/http

#713 feat: update query partition data version
  src/replica/replica_http_service.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/replica_test.cpp
Labels: component/http

#712 fix(security): make mandatory_auth to be a server side config
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/negotiation_manager.cpp
  src/runtime/test/negotiation_manager_test.cpp
Labels: component/security
