Repository XiaoMi/rdsn, pull requests merged in 2020-05, with the labels that each got.

#454 feat(bulk-load): meta server start bulk load
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/meta_server/meta_bulk_load_service.cpp
  src/dist/replication/meta_server/meta_bulk_load_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/server_state.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/CMakeLists.txt
  src/dist/replication/test/meta_test/unit_test/meta_bulk_load_service_test.cpp
Labels: component/bulk-load

#457 feat(bulk-load): meta server send bulk load request
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_common.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_bulk_load.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/meta_server/meta_bulk_load_service.cpp
  src/dist/replication/meta_server/meta_bulk_load_service.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/replica_test/unit_test/replica_bulk_load_test.cpp
Labels: component/bulk-load

#460 feat(bulk-load): group bulk load request in replica group
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_types.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_bulk_load.cpp
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/replica_test/unit_test/replica_bulk_load_test.cpp
Labels: component/bulk-load

#463 feat(bulk-load): meta handle bulk_load_response
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/meta_server/meta_bulk_load_service.cpp
  src/dist/replication/meta_server/meta_bulk_load_service.h
  src/dist/replication/test/meta_test/unit_test/meta_bulk_load_service_test.cpp
Labels: component/bulk-load

#461 feat: add rate limit for learning and support remote-command
  src/dist/block_service/fds/fds_service.cpp
  src/dist/nfs/nfs_client_impl.cpp
  src/dist/nfs/nfs_client_impl.h
Labels: type/config-change

#465 feat(bulk-load): bulk load download part1 - replica start download
  include/dsn/dist/replication/replication.codes.h
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_bulk_load.cpp
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/test/replica_test/unit_test/config-test.ini
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_bulk_load_test.cpp
Labels: component/bulk-load, type/config-change

#467 refactor(bulk-load): add replica_bulk_loader class
  scripts/linux/build.sh
  src/dist/replication/lib/CMakeLists.txt
  src/dist/replication/lib/bulk_load/replica_bulk_loader.cpp
  src/dist/replication/lib/bulk_load/replica_bulk_loader.h
  src/dist/replication/lib/bulk_load/test/CMakeLists.txt
  src/dist/replication/lib/bulk_load/test/config-test.ini
  src/dist/replication/lib/bulk_load/test/main.cpp
  src/dist/replication/lib/bulk_load/test/replica_bulk_loader_test.cpp
  src/dist/replication/lib/bulk_load/test/run.sh
  src/dist/replication/lib/replica.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_file_provider.cpp
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
Labels: component/bulk-load

#472 fix(dup): reject add_dup if remote address incorrect
  src/dist/replication/meta_server/duplication/meta_duplication_service.cpp
  src/dist/replication/test/meta_test/unit_test/config-test.ini
  src/dist/replication/test/meta_test/unit_test/meta_duplication_service_test.cpp
Labels: component/duplication

#476 fix: use reference instead of value
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/meta_server/meta_bulk_load_service.cpp
Labels: type/bug-fix

#471 feat(bulk-load): bulk load download part2 - replica download files
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_file_provider.cpp
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
  src/dist/replication/test/replica_test/unit_test/replica_file_provider_test.cpp
Labels: component/bulk-load

#477 fix: fix memory leak in asio_udp_provider
  src/core/tools/common/asio_net_provider.cpp
Labels: type/bug-fix

#475 feat(bulk-load): bulk load download part3 - replica parse metadata, verify files and update progress
  include/dsn/utility/filesystem.h
  src/core/core/filesystem.cpp
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/lib/bulk_load/replica_bulk_loader.cpp
  src/dist/replication/lib/bulk_load/replica_bulk_loader.h
  src/dist/replication/lib/bulk_load/test/replica_bulk_loader_test.cpp
Labels: component/bulk-load

#479 feat(bulk-load): bulk load download part4 - replica report download status and progress
  src/dist/replication/lib/bulk_load/replica_bulk_loader.cpp
  src/dist/replication/lib/bulk_load/replica_bulk_loader.h
  src/dist/replication/lib/bulk_load/test/replica_bulk_loader_test.cpp
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/test/replica_test/unit_test/mock_utils.h
Labels: component/bulk-load
