Repository XiaoMi/rdsn, pull requests merged in 2020-04, with the labels that each got.

#435 feat: tcmalloc memory release improvements
  src/dist/replication/lib/replica_stub.cpp
  src/dist/replication/lib/replica_stub.h
Labels: area/tcmalloc, type/perf-counter

#446 fix(asan): heap-use-after-free caused by using string_view in fail_point
  src/core/core/fail_point.cpp
Labels: type/sanitize

#391 feat(split): register child partition
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_enums.h
  include/dsn/dist/replication/replication_types.h
  include/dsn/utility/error_code.h
  src/dist/replication/common/replication_common.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/lib/replica.h
  src/dist/replication/lib/replica_config.cpp
  src/dist/replication/lib/replica_context.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/lib/replica_split.cpp
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/meta_split_service.cpp
  src/dist/replication/meta_server/meta_split_service.h
  src/dist/replication/meta_server/server_state.cpp
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/meta_split_service_test.cpp
  src/dist/replication/test/meta_test/unit_test/meta_test_base.h
  src/dist/replication/test/replica_test/unit_test/replica_split_test.cpp
Labels: component/split

#433 feat: update the way to get heap profile
  src/dist/http/pprof_http_service.cpp
  src/dist/http/pprof_http_service.h
Labels: area/tcmalloc

#450 feat(dup): optimize time-lag by reducing repeat delay
  src/dist/replication/lib/duplication/duplication_pipeline.cpp
  src/dist/replication/lib/duplication/load_from_private_log.h
Labels: component/duplication

#445 feat(bulk-load): add meta_bulk_load_service and some structures
  include/dsn/cpp/json_helper.h
  include/dsn/cpp/serialization_helper/dsn.layer2_types.h
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_enums.h
  include/dsn/dist/replication/replication_types.h
  src/core/core/dsn.layer2_types.cpp
  src/dist/replication/common/replication_common.cpp
  src/dist/replication/common/replication_common.h
  src/dist/replication/common/replication_types.cpp
  src/dist/replication/lib/replica_context.h
  src/dist/replication/meta_server/meta_bulk_load_service.cpp
  src/dist/replication/meta_server/meta_bulk_load_service.h
  src/dist/replication/meta_server/meta_service.cpp
  src/dist/replication/meta_server/meta_service.h
  src/dist/replication/meta_server/server_state.h
  src/dist/replication/replication.thrift
  src/dist/replication/test/meta_test/unit_test/meta_test_base.h
  src/dsn.layer2.thrift
Labels: component/bulk-load
