Repository XiaoMi/rdsn, pull requests merged in 2021-02, with the labels that each got.

#729 fix(split): add flush_memtable for copy_checkpoint_to_dir
  include/dsn/dist/replication/replication_app_base.h
  src/replica/split/replica_split_manager.cpp
  src/replica/storage/simple_kv/simple_kv.server.impl.h
  src/replica/storage/simple_kv/test/simple_kv.server.impl.h
  src/replica/test/mock_utils.h
Labels: component/split

#726 feat(split): add query split status interface
  include/dsn/dist/replication/replication.codes.h
  include/dsn/dist/replication/replication_ddl_client.h
  include/dsn/dist/replication/replication_types.h
  src/client/replication_ddl_client.cpp
  src/common/replication_common.h
  src/common/replication_types.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/meta_split_service.cpp
  src/meta/meta_split_service.h
  src/meta/test/meta_split_service_test.cpp
  src/replication.thrift
Labels: component/split

#745 feat(split): add app_env split_validate_partition_hash
  include/dsn/dist/replication/replica_envs.h
  src/common/replication_common.cpp
  src/meta/app_env_validator.cpp
  src/meta/meta_split_service.cpp
  src/meta/test/meta_split_service_test.cpp
Labels: component/split

#747 feat(split): replica add validate_partition_hash
  include/dsn/utility/error_code.h
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
  src/replica/replica_config.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/replica_split_test.cpp
  src/replica/test/replica_test.cpp
Labels: component/split

#756 fix: delete unused flags `rocksdb_target_file_size_base` and `rocksdb_write_buffer_size`
  src/block_service/fds/fds_service.cpp
Labels: type/config-change

#742 feat(split): supplement two cases after implementing cancel split
  src/meta/meta_split_service.cpp
  src/meta/server_state.cpp
  src/meta/test/meta_split_service_test.cpp
  src/replica/split/replica_split_manager.cpp
Labels: component/split

#668 feat(disk_balance): close origin replica and update replica dir
  src/common/fs_manager.cpp
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/replica/disk_cleaner.cpp
  src/replica/disk_cleaner.h
  src/replica/replica.cpp
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_disk_migrator.h
  src/replica/replica_init.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/mock_utils.h
  src/replica/test/replica_disk_migrate_test.cpp
  src/replica/test/replica_disk_test.cpp
  src/replica/test/replica_disk_test_base.h
  src/replication.thrift
Labels: type/config-change, type/perf-counter

#727 feat(split): add child copy mutation synchronously
  src/common/metadata.thrift
  src/replica/mutation.cpp
  src/replica/mutation.h
  src/replica/replica_2pc.cpp
  src/replica/split/replica_split_manager.cpp
Labels: component/split

#766 fix(split): add special check for on_config_sync
  src/meta/server_state.cpp
Labels: component/split

#767 refactor(split): add app splitting() function
  src/meta/meta_data.h
  src/meta/meta_split_service.cpp
  src/meta/server_state.cpp
Labels: component/split
