Repository XiaoMi/rdsn, pull requests merged in 2021-07, with the labels that each got.

#851 fix(disk): fix disk space insufficient bug
  src/common/fs_manager.cpp
  src/common/fs_manager.h
  src/common/test/fs_manager_test.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
  src/utils/filesystem.cpp
Labels: type/bug-fix, type/config-change

#847 feat: add partition guardian to keep one primary and two secondaries
  src/meta/partition_guardian.cpp
  src/meta/partition_guardian.h
Labels: component/load-balancer

#855 feat: add rate limiter for backup request
  include/dsn/dist/replication/replica_envs.h
  src/common/replication_common.cpp
  src/meta/app_env_validator.cpp
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_throttle.cpp
Labels: type/app-envs, type/perf-counter

#857 feat: implement move primary for cluster load balancer
  src/meta/greedy_load_balancer.cpp
  src/meta/greedy_load_balancer.h
Labels: component/load-balancer

#859 feat: add perf counter to record dropped timeout rpc count
  include/dsn/tool-api/task.h
  include/dsn/tool-api/task_spec.h
  src/runtime/profiler.cpp
  src/runtime/profiler_header.h
  src/runtime/task/task_spec.cpp
Labels: type/perf-counter

#862 feat(duplication): derror and add perf-counter if mutation loss instead of dassert for duplication
  src/replica/duplication/mutation_batch.cpp
  src/replica/duplication/mutation_batch.h
  src/replica/duplication/test/mutation_batch_test.cpp
  src/replica/mutation_cache.h
  src/replica/prepare_list.h
Labels: component/duplication, type/perf-counter

#858 feat: add balance type for cluster load balance
  src/meta/greedy_load_balancer.cpp
  src/meta/greedy_load_balancer.h
Labels: component/load-balancer

#864 feat: supporting release all tcmalloc reserved but not used memory
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
Labels: type/remote-command
