Repository XiaoMi/rdsn, pull requests merged in 2021-03, with the labels that each got.

#743 feat(split): add check state task for split context
  src/replica/replica_context.cpp
  src/replica/replica_context.h
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/replica_split_test.cpp
Labels: component/split

#765 feat(split): add split check when drop app
  src/meta/server_state.cpp
Labels: component/split

#763 feat(split): ignore splitting partition during load balance
  src/meta/greedy_load_balancer.cpp
  src/meta/server_load_balancer.cpp
  src/meta/server_state.cpp
Labels: component/split

#773 fix(asan): fix heap-use-after-free in perf_counters
  src/perf_counter/perf_counters.cpp
  src/runtime/service_api_c.cpp
Labels: type/sanitize

#762 feat(split): add query_child_state rpc
  include/dsn/dist/replication/replication.codes.h
  src/common/partition_split.thrift
  src/common/replication_common.h
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/meta_split_service.cpp
  src/meta/meta_split_service.h
  src/meta/test/meta_split_service_test.cpp
  src/replica/replica_context.cpp
  src/replica/replica_context.h
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/replica/split/test/replica_split_test.cpp
Labels: component/split

#781 fix: fix bug when update bool app envs
  src/replica/replica_config.cpp
  src/replica/test/replica_test.cpp
Labels: type/bug-fix

#783 fix(split): register update_child_partition_count rpc handler
  src/replica/replica_stub.cpp
Labels: component/split

#784 feat(split): add child partition execute mutation
  src/replica/replica.cpp
Labels: component/split

#775 feat(one-time backup): part-2 backup app metadata and send rpc to partition primary
  src/common/replication_common.h
  src/meta/backup_engine.cpp
  src/meta/backup_engine.h
  src/meta/meta_backup_service.cpp
  src/replica/backup/replica_backup_server.h
Labels: component/backup

#764 feat(split): meta failover during partition split
  src/meta/meta_service.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/meta_split_service_test.cpp
Labels: component/split

#794 refactor: remove unused config aio_factory_name
  src/aio/disk_engine.cpp
  src/replica/storage/simple_kv/config.ini
  src/replica/storage/simple_kv/test/case-000.ini
  src/replica/storage/simple_kv/test/case-001.ini
  src/replica/storage/simple_kv/test/case-002.ini
  src/replica/storage/simple_kv/test/case-003.ini
  src/replica/storage/simple_kv/test/case-004.ini
  src/replica/storage/simple_kv/test/case-005.ini
  src/replica/storage/simple_kv/test/case-006.ini
  src/replica/storage/simple_kv/test/case-100.ini
  src/replica/storage/simple_kv/test/case-101.ini
  src/replica/storage/simple_kv/test/case-102.ini
  src/replica/storage/simple_kv/test/case-103.ini
  src/replica/storage/simple_kv/test/case-104.ini
  src/replica/storage/simple_kv/test/case-105.ini
  src/replica/storage/simple_kv/test/case-106.ini
  src/replica/storage/simple_kv/test/case-107.ini
  src/replica/storage/simple_kv/test/case-108.ini
  src/replica/storage/simple_kv/test/case-109.ini
  src/replica/storage/simple_kv/test/case-200.ini
  src/replica/storage/simple_kv/test/case-201.ini
  src/replica/storage/simple_kv/test/case-202-0.ini
  src/replica/storage/simple_kv/test/case-202-1.ini
  src/replica/storage/simple_kv/test/case-203-0.ini
  src/replica/storage/simple_kv/test/case-203-1.ini
  src/replica/storage/simple_kv/test/case-204.ini
  src/replica/storage/simple_kv/test/case-205.ini
  src/replica/storage/simple_kv/test/case-206.ini
  src/replica/storage/simple_kv/test/case-207.ini
  src/replica/storage/simple_kv/test/case-208.ini
  src/replica/storage/simple_kv/test/case-209.ini
  src/replica/storage/simple_kv/test/case-210.ini
  src/replica/storage/simple_kv/test/case-211.ini
  src/replica/storage/simple_kv/test/case-212.ini
  src/replica/storage/simple_kv/test/case-213.ini
  src/replica/storage/simple_kv/test/case-214.ini
  src/replica/storage/simple_kv/test/case-215.ini
  src/replica/storage/simple_kv/test/case-216.ini
  src/replica/storage/simple_kv/test/case-300-0.ini
  src/replica/storage/simple_kv/test/case-300-1.ini
  src/replica/storage/simple_kv/test/case-300-2.ini
  src/replica/storage/simple_kv/test/case-301.ini
  src/replica/storage/simple_kv/test/case-302.ini
  src/replica/storage/simple_kv/test/case-303.ini
  src/replica/storage/simple_kv/test/case-304.ini
  src/replica/storage/simple_kv/test/case-305.ini
  src/replica/storage/simple_kv/test/case-306.ini
  src/replica/storage/simple_kv/test/case-307.ini
  src/replica/storage/simple_kv/test/case-400.ini
  src/replica/storage/simple_kv/test/case-401.ini
  src/replica/storage/simple_kv/test/case-402.ini
  src/replica/storage/simple_kv/test/case-600.ini
  src/replica/storage/simple_kv/test/case-601.ini
  src/replica/storage/simple_kv/test/case-602.ini
  src/replica/storage/simple_kv/test/case-603.ini
  src/replica/storage/simple_kv/test/config.ini
  src/runtime/test/config-test-sim.ini
Labels: type/config-change

#789 feat(split): add split related perf-counter
  src/replica/replica_context.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/split/replica_split_manager.cpp
Labels: component/split, type/perf-counter

#776 feat(one-time backup): part-3 meta server handle rpc response
  src/meta/backup_engine.cpp
  src/meta/backup_engine.h
Labels: component/backup

#791 feat(split): parent clear split context while config changed
  src/replica/replica_config.cpp
Labels: component/split

#790 feat(split): add split state check while assign primary
  src/replica/replica_config.cpp
Labels: component/split

#787 feat(split): ignore split garbage partition while load replicas
  src/replica/replica_init.cpp
Labels: component/split

#786 feat(split): cleanup split context when close replica
  src/replica/replica.cpp
Labels: component/split

#788 feat(split): add child partition check during config_sync
  src/replica/replica_stub.cpp
Labels: component/split

#795 refactor(split): add function parent_handle_split_error
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
Labels: component/split

#796 feat(one-time backup): add query backup status function
  include/dsn/dist/replication/replication.codes.h
  src/common/backup.thrift
  src/meta/backup_engine.cpp
  src/meta/backup_engine.h
  src/meta/meta_backup_service.cpp
  src/meta/meta_backup_service.h
  src/meta/meta_rpc_types.h
  src/meta/meta_service.cpp
  src/meta/meta_service.h
Labels: component/backup

#785 feat(one-time backup): add unit tests
  src/meta/backup_engine.h
  src/meta/meta_backup_service.h
  src/meta/meta_service.h
  src/meta/server_state.h
  src/meta/test/clear.sh
  src/meta/test/meta_backup_test.cpp
Labels: component/backup

#797 feat(split): update some split related perf-counter
  src/replica/replica_context.cpp
  src/replica/replica_stub.cpp
  src/replica/split/replica_split_manager.cpp
Labels: component/split

#800 fix: modify the ouput format for configs http api
  src/utils/flags.cpp
Labels: component/http

#801 feat(http): update query data version
  src/replica/replica_http_service.cpp
  src/replica/test/replica_test.cpp
Labels: component/http

#805 feat(http): update query manual compaction interface
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_http_service.cpp
  src/replica/replica_http_service.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/replica_test.cpp
Labels: component/http
