Repository XiaoMi/rdsn, pull requests merged in 2021-11, with the labels that each got.

#948 feat: add new codes in env to support `READ_SIZE_THROTTLING`
  include/dsn/dist/replication/replica_envs.h
  src/common/replication_common.cpp
  src/meta/app_env_validator.cpp
Labels: type/app-envs

#945 feat: support perfcounter and more information trace log
  include/dsn/dist/replication/replication.codes.h
  include/dsn/utils/latency_tracer.h
  src/replica/mutation.cpp
  src/utils/latency_tracer.cpp
  src/utils/test/latency_tracer_test.cpp
Labels: type/config-change

#954 fix: the nfs copy config of remote-command is error
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
Labels: type/remote-command

#960 refactor(bulk_load): update some bulk load logs
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
  src/meta/test/meta_bulk_load_service_test.cpp
Labels: component/bulk-load

#959 feat(bulk_load): remove bulk load request short interval avoid unnecessary timeout
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
Labels: component/bulk-load

#962 refactor(bulk_load): refactor get_app for bulk_load_service
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
Labels: component/bulk-load

#964 feat(bulk_load): add unhealthy partition check
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
  src/meta/test/meta_bulk_load_service_test.cpp
Labels: component/bulk-load

#974 refactor: merge load balance refactor code
  .github/workflows/pull_request.yaml
  src/meta/app_balance_policy.cpp
  src/meta/app_balance_policy.h
  src/meta/cluster_balance_policy.cpp
  src/meta/cluster_balance_policy.h
  src/meta/greedy_load_balancer.cpp
  src/meta/greedy_load_balancer.h
  src/meta/load_balance_policy.cpp
  src/meta/load_balance_policy.h
  src/meta/test/cluster_balance_policy_test.cpp
  src/meta/test/copy_replica_operation_test.cpp
  src/meta/test/ford_fulkerson_test.cpp
Labels: component/load-balancer

#968 feat: add alive nodes perf-counter
  src/meta/meta_service.cpp
  src/meta/meta_service.h
Labels: type/perf-counter
