Repository XiaoMi/rdsn, pull requests merged in 2022-01, with the labels that each got.

#1011 fix(bulk_load): update ingestion error handling with move_files mode
  include/dsn/dist/replication/replication_app_base.h
  src/common/bulk_load.thrift
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
  src/replica/replica.h
  src/replica/replication_app_base.cpp
Labels: component/bulk-load

#1023 fix: avoid to call add_point in latency_tracer
  include/dsn/utils/latency_tracer.h
Labels: type/bug-fix

#1027 feat(bulk_load): add verify_before_ingest option
  src/common/bulk_load.thrift
  src/meta/meta_bulk_load_service.cpp
Labels: type/config-change, component/bulk-load

#1031 refactor(bulk_load): rename update_partition_status_on_remote_storage
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
Labels: component/bulk-load

#1034 feat(build): support to build on MacOS
  bin/dsn.cmake
  include/dsn/dist/replication/mutation_duplicator.h
  include/dsn/perf_counter/perf_counters.h
  include/dsn/tool-api/file_io.h
  include/dsn/utility/endians.h
  include/dsn/utility/ports.h
  include/dsn/utility/process_utils.h
  include/dsn/utils/token_buckets.h
  run.sh
  scripts/linux/build.sh
  src/aio/native_linux_aio_provider.cpp
  src/aio/test/CMakeLists.txt
  src/block_service/fds/fds_service.cpp
  src/block_service/hdfs/CMakeLists.txt
  src/block_service/test/CMakeLists.txt
  src/block_service/test/fds_service_test.cpp
  src/common/test/CMakeLists.txt
  src/failure_detector/CMakeLists.txt
  src/http/pprof_http_service.cpp
  src/http/test/CMakeLists.txt
  src/meta/CMakeLists.txt
  src/meta/app_env_validator.cpp
  src/meta/app_env_validator.h
  src/meta/dump_file.h
  src/meta/meta_state_service_simple.cpp
  src/meta/test/CMakeLists.txt
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
  src/nfs/test/CMakeLists.txt
  src/perf_counter/test/CMakeLists.txt
  src/replica/CMakeLists.txt
  src/replica/duplication/duplication_pipeline.cpp
  src/replica/duplication/mutation_batch.h
  src/replica/log_file.cpp
  src/replica/mutation.h
  src/replica/storage/simple_kv/simple_kv.server.h
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/test/CMakeLists.txt
  src/runtime/rpc/thrift_message_parser.cpp
  src/runtime/security/access_controller.h
  src/runtime/task/task_spec.cpp
  src/runtime/task/task_worker.cpp
  src/utils/CMakeLists.txt
  src/utils/coredump.posix.cpp
  src/utils/filesystem.cpp
  src/utils/latency_tracer.cpp
  src/utils/process_utils.cpp
  thirdparty/CMakeLists.txt
  thirdparty/fix_fds_for_macos.patch
  thirdparty/fix_s2_for_pegasus.patch
Labels: thirdparty-modified, type/build

#1018 feat(bulk_load): avoid unecessary repeated ingestion
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
  src/meta/test/meta_bulk_load_service_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
Labels: component/bulk-load

#1035 feat(bulk_load): support disk_level ingesting restriction part1 - add ingestion_context class
  src/meta/meta_bulk_load_ingestion_context.cpp
  src/meta/meta_bulk_load_ingestion_context.h
  src/meta/test/meta_bulk_load_ingestion_test.cpp
Labels: type/config-change, component/bulk-load

#1039 feat(bulk_load): support disk_level ingesting restriction part2 implementation
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_bulk_load_service.h
  src/meta/test/meta_bulk_load_service_test.cpp
Labels: type/config-change, component/bulk-load

#1033 feat: implement long adder to optimize the counter of new metrics system
  include/dsn/utility/long_adder.h
  include/dsn/utility/ports.h
  src/utils/CMakeLists.txt
  src/utils/long_adder.cpp
  src/utils/long_adder_bench/CMakeLists.txt
  src/utils/long_adder_bench/long_adder_bench.cpp
  src/utils/test/long_adder_test.cpp
Labels: component/utils
